.heroimage{
  display: flex;
  flex-direction: column;
  align-items: stretch;
height: 360px;
max-height: 360px;
padding-top: 100px;
margin-bottom: 260px;

    .border{
      // max-width: 100%;
      border: 7px solid $white;
      border-radius: 20px;
      height: 360px;
      // position: absolute;
      z-index: 1;

      @media (max-width: 500px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    
      }
    
    h2{
        text-align: center; 
        padding-top: 50px;
        padding-bottom: 275px;

      @media (max-width: 1050px) {
        font-size: 18px;
        padding-top: 27px;
        padding-bottom: 115px;
      } 

      @media (max-width: 500px) {
        font-size: 16px;
        max-width: 212px;
        // padding: 16px 55px 115px;
      }

        color: $white;
    }

  }

  .image {
    position: absolute;
    display: inline-block;
    margin-top: 65px;
  }
  
  .leftContainer {
    position: absolute;
    max-height: 490px;
    max-width: 100%;
    z-index: 0;

    .left{
      height: 100%;
      width: 100%;
    }

  }
  
  .rightContainer {
    position: relative;
    max-height: 490px;
    max-width: 100%;
    z-index: 2;

    .right{
      height: 100%;
      width: 100%;
    }
  }
}