$angles: 0deg, 72deg, 144deg, 216deg, 288deg;
$qty: 5; //Number of icons
$step: 72; //Add rotation

@for $i from 0 through $qty - 1 {
  .iconWrapper:nth-child(#{$i + 1}) {
    transform: rotate($step * $i + deg);
  }
}

.main {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  .icons {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .iconWrapper {
      @each $angle in $angles {
      }
      position: absolute;
      width: 30px;
      height: 100%;
      // border: 1px red solid;
      display: flex;
      align-items: center;
      .icon {
        width: 100%;
        height: fit-content;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .clickWrapper {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .globeWrapper {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: blur(5px);
    background-color: $black;

    .globe {
      height: 100%;
      width: auto;
      margin: auto;
    }
  }
}
