.device {
  border-radius: 10px;
  position: relative;

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  .cover {
    position: relative;
  }
}

.deviceDesktop {
  padding: 10px 10px 30px;
  width: 410px;
  background-color: #f5f1f8;
}

.deviceMobile {
}

.deviceTablet {
}
