.device {
  $border-radius: 10px;

  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0;
  background-color: #f5f1f8;

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .cover {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  .linesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.deviceDesktop {
  padding: 10px 10px 0;
  background-color: #f5f1f8;

  .linesContainer {
    padding: 0 20px;
    height: 30px;

    .dotsContainer {
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }
  }
}

.deviceMobile {
  .linesContainer {
    justify-content: center;
  }
}

.deviceTablet {
  .linesContainer {
    height: 20px;
  }
}
