.footer {
  margin-top: 144px;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    width: 100%;

    @media (max-width: 990px) {
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }

    .left {
      box-sizing: border-box;
      padding: 53px 87px 40px 57px;
      background-color: $blue;
      // max-width: 595px;
      width: calc(50vw - 33px);
      overflow: hidden;
      border-radius: 32px;

      .title {
        color: $white;
        margin-bottom: 20px;
      }

      .swiperWrap {
        // max-width: 450px;

        @media (max-width: 990px) {
          max-width: 100%;
        }

        .formTitle {
          text-align: center;
          color: $white;
          margin-bottom: 15px;
        }
      }

      .swiper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
      }

      @media (max-width: 990px) {
        max-width: 100%;
        width: 100%;
      }

      @media (max-width: 450px) {
        padding: 30px 20px;
      }
    }

    .right {
      box-sizing: border-box;
      background-color: $blue;
      // max-width: 100%;
      width: 50vw;
      border-radius: 32px;
      padding: 0 40px;
      padding-top: 53px;
      overflow: hidden;
      position: relative;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;

        @media (max-width: 450px) {
          margin-bottom: 28px;
          .logo {
            max-width: 112px;
            min-height: 25px;
          }
        }

        .social {
          display: flex;
          gap: 20px;
          color: $white;
          opacity: 70%;

          @media (max-width: 450px) {
            gap: 10px;
          }
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 450px) {
          align-items: inherit;
        }

        .slogan {
          font-size: 36px;
          color: $white;
          margin-bottom: 14px;
          text-align: center;

          @media (max-width: 1225px) {
            font-size: 28px;
          }
          @media (max-width: 995px) {
            font-size: 4vw;
          }
        }

        .nav {
          display: flex;
          gap: 45px;
          justify-content: center;

          @media (max-width: 990px) {
            gap: 20px;
          }

          @media (max-width: 450px) {
            justify-content: space-between;
          }
          .link {
            color: $white;
            opacity: 70%;
            transition: opacity 0.6s linear;

            &:hover {
              opacity: 1;
            }

            @media (max-width: 990px) {
              font-size: 18px;
            }

            @media (max-width: 450px) {
              font-size: 12px;
            }
          }
        }
      }

      .imagewrap {
        margin-top: 80px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 450px) {
          margin-top: 36px;

          //    max-width: 295px;
          max-height: 295px;

          .image {
            width: 100%;
            height: 100%;
          }
        }
      }

      @media (max-width: 990px) {
        max-width: 100%;
        width: 100%;
      }

      @media (max-width: 450px) {
        padding: 30px 20px;
        padding-bottom: 0;
      }
    }
  }

  .copyright {
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
    color: $white;
    margin-bottom: 64px;

    @media (max-width: 450px) {
      margin-top: 25px;
      margin-bottom: 35px;
      font-size: 16px;
    }
  }
}
