.hero {
  margin-top: 160px;
  height: max(calc(100vh - 380px), 430px);
  box-sizing: border-box;
  // margin-bottom: 210px;

  @media (max-width: 850px) {
    margin-top: 130px;
  }

  @media (max-width: 650px) {
    margin-top: 75px;
    height: 100%;
    margin-bottom: 50px;
  }

  .herowrap {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 850px) {
      gap: 20px;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      gap: 35px;
    }
  }

  .text {
    width: 100%;
    position: relative;
    flex: 7;

    h3 {
      display: block;
      margin-bottom: 10px;
    }
    @media (max-width: 850px) {
      h3 {
        font-size: 18px;
      }
    }

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      padding-top: 10px;
      color: $white;
      font-size: 68px;

      @media (max-width: 1220px) {
        font-size: 6.08vw;
      }
      // @media (max-width: 850px) {
      //   font-size: 40px;
      // }

      @media (max-width: 650px) {
        text-align: center;
        font-size: 32px !important;
      }
    }

    .social {
      display: flex;
      gap: 19px;
      padding-top: 27px;

      @media (max-width: 850px) {
        padding-top: 17px;
        gap: 30px;
      }
    }
    .titleWrap {
      // opacity: 1;
      // left: 0;
      // right: 0;
      // position: absolute;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // width: 100%;

      .strokeWrapper {
        display: block;

        @media (max-width: 650px) {
          //display: flex;
          // gap: 1px;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
        .titleChar {
          display: inline;
          opacity: 0;
          filter: blur(16px);
        }
      }

      @media (max-width: 650px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .animation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 4;

    @media (max-width: 650px) {
      justify-content: center;
    }
    .animationWrap {
      display: flex;
      width: min(315px, 30vw);
      height: min(315px, 30vw);
      justify-content: flex-start;

      @media (max-width: 650px) {
        width: 300px;
        height: 300px;
      }
    }
  }
}
