.ourWork {
  .header {
    color: $white;
    margin-bottom: 19px;
  }

  .headDescription {
    color: $white;
    margin: 25px 0;
    text-align: center;
  }

  .blocksContainer {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 30px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .gridContainer {
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;

      @media (max-width: 768px) {
        height: 287px;
      }

      @media (max-width: 425px) {
        height: 171px;
      }
    }
  }

  .swiper {
    display: flex;
    flex-direction: column-reverse;
  }
}
