.workDescription {
  background-color: $white;
  border-radius: 32px;
  padding: 30px 15px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;

    .headData {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }

    .arrow {
      margin-top: 35px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .headDataMobile {
      display: none;
    }

    @media (max-width: 768px) {
      .headData {
        display: none;
      }

      .headDataMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .icon {
          width: 79px;
          height: 79px;
        }

        .arrow {
          display: block;
          margin-top: unset;
          width: 45px;
          height: 15px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    text-align: center;
  }
}
