$angles: 0deg, 60deg, 120deg, 180deg, 240deg, 300deg;
$qty: 6; //Number of icons
$step: 60; //Add rotation

@for $i from 0 through $qty - 1 {
  .iconWrapper:nth-child(#{$i + 1}) {
    transform: rotate($step * $i + deg);
    & > div {
      transform: rotate($step * -1 * $i + deg);
    }
  }
}
@for $i from 0 through $qty - 1 {
}
.main {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .desight {
    position: absolute;

    width: 25%;
    height: 25%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .iconsWrapper {
    // border: 1px yellow solid;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconWrapper {
    position: absolute;
    // border: 1px red solid;
    height: 100%;
    width: 12%;
    div {
      //   border: 1px yellow solid;
      height: fit-content;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
